
body{
    margin: 0px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;       
}

.item{
    background: #fa8072;
    color: #ffffff;
    font-size: 35px;
    height: 200px;    
    flex-basis: 200px;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    margin: 10px;
    padding-top: 20px;    
}



.grid-container{
    display: grid;
    justify-content: stretch;
    grid-template-areas: 
    'head head head head head'
    'aside1 main main main aside2'
    'aside1 main main main aside2'
    'footer footer footer footer footer';
    /*grid-template-columns: 20px repeat(3, 1fr) 20px;*/
}

.head{
    grid-area: head;
    background-color: #ff6347;
}

.lado1{
    grid-area: aside1;
    background-color:#ffff00;
}

.lado2{
    grid-area: aside2;
    background-color: #ff00ff;
}

.main{
    grid-area: main;
    background-color: rgb(15, 152, 197);
}

footer{
    grid-area: main;
    background-color: rgb(140, 184, 140);
}